body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background-color: black;
    color: #e0fffd;
    overflow: hidden;
}

/* ***** NAVIGATION BAR ***** */

.nav-wrap { margin-top: 15px; }

.nav-bar {
    direction: ltr;
    float: right;
    margin-top: 20px;
}

.title { font-size: 5vmin; }

ul {
    list-style-type: none;
    display: inline;
}

li {
    display: inline;
    padding: 0px 10px;
    cursor: pointer;
}

a {
    color: #e0fffd;
    text-decoration: none;
}

.nav-bar > ul > li:hover { text-decoration: underline; }
/* ***** END OF NAVIGATION BAR ***** */

/* ***** START OF MODAL ***** */
.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
}

.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    font-weight: 400;
    color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
}

.close {
    color: #858585;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.instructions > li {
    display: list-item;
    cursor: auto;
}
ol { list-style-type: decimal; }
/* ***** END OF MODAL ***** */


#music {
    display: inline;
    cursor: pointer;
}
#music:hover { text-decoration: underline; }

.fa-volume-off {
    margin-right: 10px;
}

.stats-container {
    padding-top: 40px;
    margin-left: 3%;
    font-size: x-large;
}

#game-area {
    width: 720px;
    position: absolute;
    margin-left: 38%;
    margin-top: 10px;
    z-index: 1;
    border-radius: 7px;
    padding: 10px;
}

.card {
    border-color: #9d75f1;
    border-style: outset;
    border-width: 4px;
    height: 184px;
    width: 158px;
    margin: 5px;
    position: relative;
    display: inline-block;
    transition: 2s; 
}
.card:hover { 
    box-shadow: 0px 0px 20px 1px #ffffff;
    transition: 1s; 
}

.rainbow {
    transition: 4s;
    height: 184px;
    width: 158px;
    position: relative;
    display: inline-block;
	color: #fff;
	background: linear-gradient(-45deg,red, hotpink, yellow, cornflowerblue, darkorchid, darkblue);
	background-size: 200% 100%;
	-webkit-animation: Gradient 6s ease infinite;
	-moz-animation: Gradient 6s ease infinite;
    animation: Gradient 6s ease infinite;
    animation-direction: normal;
}

.card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.front, .back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.reveal .back {
    display: none;
}

@keyframes spinner {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
}

.spin {
    -webkit-animation: spinner 1s 1; 
    -moz-animation:    spinner 1s 1; 
    -o-animation:      spinner 1s 1; 
    animation:         spinner 1s 1; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    transition: all 1.5s ease;
    padding: 3px 7px;
    background: #e0fffd;
    border: black;
    margin-top: 20px;
    font-size: 2vmin;
}
button:hover { 
    background: #404bff;
    box-shadow: 0px 0px 19px #9e9ce8;
    color: white;
    cursor: pointer;
}
button:focus {outline:0;}

#crystal-head {
    position: absolute;
    bottom: -17px;
    /* filter: blur(10px); */
}

#credit {
    /* display: none; */
    font-size: 8px;
    color: #e0fffd;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 2px;
}

/* ***** START OF MEDIA QUERIES ***** */

/* extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    #crystal-head {
        height: 270px;
        margin-left: 100px;
        filter: blur(3px);
    }

    .title {
        font-size: 7vmin;
    }

    .fa-volume-off {
        margin-right: 7px;
    }

    .nav-wrap {
        text-align: center;
    }

    .nav-wrap ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
    }

    .nav-wrap li {
        float: left;
        padding: 2px 5px;
        border: 1px solid black;
    }

    .nav-bar {
        float: none;
        margin-top: 10px;
    }

    .nav-bar > ul > li {
        font-size: 3vmin;
    }

    .stats-container {
        font-size: 3vmin;
        padding: 410px 25px 0px 17px;
    }

    #game-area {
        width: 309px;
        padding: 5px;
        margin: 10px 20px 0px 16px
    }

    .card {
        border-width: 2px;
        height: 77px;
        width: 63px;
    }

    .rainbow {
        height: 77px;
        width: 63px;
    }

}

/* small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {

}

/* medium devices (tablets, less than 992px) */
@media (max-width: 991px) {

}

/* large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}

/* ***** END OF MEDIA QUERIES ***** */